.stderr {
    color: red;
}

.ide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* hack to verride editor's styles */
div#codeEditor.ace_editor.ace-terminal-theme.ace_dark[style] {
    width: 300px !important;
    height: 200px !important;
}

.console {
    padding-left: 0.25em;
    min-height: 100px;
    min-width: 300px;
    background-color: #2A2A2A;
    color: white;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.editor {
    margin-right: 1em;
}

.submit {
    margin: 0.5em 0;
}

.prompt {
    color: white;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .todo {
        padding-left: 147px
    }
    .console {
        height: 500px;
    }
    /* hack to verride editor's styles */
    div#codeEditor.ace_editor.ace-terminal-theme.ace_dark[style] {
        width: 500px !important;
        height: 500px !important;
    }
  }

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .todo {
        padding-left: 147px
    }
    .console {
        height: 500px;
    }
    /* hack to verride editor's styles */
    div#codeEditor.ace_editor.ace-terminal-theme.ace_dark[style] {
        width: 500px !important;
        height: 500px !important;
    }
}